/** Colors **/
$c-primary: hsl(246, 80%, 60%); //Blue
$c-work: hsl(15, 100%, 70%); // Light red (work)
$c-play: hsl(195, 74%, 62%); //Soft blue (play)
$c-study:hsl(348, 100%, 68%); //Light red (study)
$c-exercise: hsl(145, 58%, 55%); //Lime green (exercise)
$c-social: hsl(264, 64%, 52%); //Violet (social)
$c-selfcare: hsl(43, 84%, 65%); //Soft orange (self care)

$c-vdarkblue: hsl(226, 43%, 10%); //Very dark blue
$c-darkblue: hsl(235, 46%, 20%); //Dark blue
$c-deblue: hsl(235, 45%, 61%); //Desaturated blue
$c-paleblue: hsl(236, 100%, 87%); //Pale Blue