.container {
  display: block;
  margin: 36px 24px;
  border-radius: 25px;
  background-color: $c-darkblue;

  @include breakpoint(tabletLandscapeUp) {
    padding-left: 50px;
    padding-right: 50px;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-bottom: 96px;
  }
}
