.container {
  display: block;
  margin: 36px 24px;
  border-radius: 25px;
  background-color: $c-darkblue;

  @include breakpoint(tabletLandscapeUp) {

  }
  &__types {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
